<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Testowe zadanie</title>
    </head>
    <body>

        <h1>Wylicz ciąg Fibonaciego na podstawie:</h1>

        <form id="submit">
            <select name="type" id="type" required>
                <option value="day">Na podstawie dnia</option>
                <option value="month">Na podstawie miesiąca</option>
                <option value="manual">Ręcznie</option>
            </select>

            <input type="number" name="value" min="0" max="44" id="number" />

            <input type="submit" name="Zatwierdź" />
        </form>

        <div class="error"></div>

        <div class="success"></div>

        <style>
            #number {
                display: none;
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script type="application/javascript">
            $(document).ready(function() {
                $('#type').change(function () {
                    let val = $('#type').val();

                    if (val === 'manual') {
                        $('#number').show();
                    } else {
                        $('#number').hide();
                    }
                });

                $('form').submit(function(e) {
                    e.stopPropagation();
                    e.stopImmediatePropagation();
                    e.preventDefault();

                    $('.error').empty().append('');
                    $('.success').empty().append('');

                    let type = $('#type').val(),
                        value = $('#number').val();

                    if (type === 'manual' && value == '') {
                        $('.error').empty().append('Please enter the value.');
                        return false;
                    }

                    $.ajax({
                        method: 'POST',
                        url: '/api/calculate',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify({
                            type: type,
                            payload: {
                                value: parseInt(value)
                            }
                        })
                    }).done(function(response) {
                        console.log(response);

                        $('.success').empty().append('Sum: ' + response.sum + '; Last digit: ' + response.last_digit);
                    }).fail(function(error) {
                        const payload = JSON.parse(error.responseText);
                        $('.error').empty().append('Error: ' + payload.message);
                    })

                    return false;
                });
            });
        </script>
    </body>
</html>
